/* .aboutheroimgPage { */

    .hero-abimg {
        background: rgba(255, 130, 34, 0.24); 
        /* rgba(255, 131, 34, 0.8) */
        height: 50vh;
        width: 100%;
        position: relative;
        /* background-color: #FF8323; */
    }

    .hero-abimg:before {
        content: '';
        background: url(../../Assets/images/heroimg.webp) no-repeat center center/cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .hero-abimg .heading {
        width: 100%;
        height: 100%;
        display: flex;
        color:white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
    .hero-abimg h1 {
        font-size: 3.4rem;
        border-bottom: 5px solid #fff;
    }

    .hero-abimg p {
        font-size: 1.4rem;
    }


    @media screen and (max-width:640px) {
        .hero-abimg h1 {
            font-size: 15rem;
        }
        
        .hero-abimg {
            background: rgba(0,0,0,.7);
            height: 30vh;
            width: 100%;
            
        }
    }  


    @media screen and (max-width:640px) {
        .hero-abimg h1 {
            font-size: 2rem;
        }

        .hero-abimg {
            background: rgba(0,0,0,.7);
            height: 30vh;
            width: 100%;
        }
    } 




    

