.overview-section {
    margin: 1rem 2rem;
    /* display: flex; */
    /* flex-direction: row; */
}

.widgets, .charts {
    gap: 20px;
    display: flex;
    padding: 10px;  
    /* border: 5px solid red; */
} 

.charts {
    padding: 25px 10px;
}