.Formpage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background:rgba(236, 236, 236, 1);
}

.Formpage-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    /* align-items: center; */
}

aside{
    flex:1;
}

aside img{
    width: 100%;
    height: 1080px;
    object-fit:cover;
}

@media only screen and (max-width: 768px) {
    .Formpage-main{
        display: flex;
        flex-direction: column;
    }
    aside img{
        display: none;
    }
    .Formpage-comp{
        margin-top: 20%;
    }
}