.payout-container{
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.payout-navbar {
    margin-bottom: 4rem;
    width: 60%;
    height: 3rem;
}

.payout-search{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px .5px rgb(225, 225, 225);
    background-image: url(../../../../Assets/pngs/magnifying-glass.png);
    background-position:10px;
    background-size: 20px;
    color: #000;;
    background-repeat: no-repeat;
    padding-left: 3rem;
}

.payout-table{
    height: 100%;
}