.payout-container{
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.payout-navbar {
    margin-bottom: 4rem;
    width: 65vw;
    height: 3rem;
    margin-left: 50px;
}

.payout-search{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px .5px rgb(225, 225, 225);
    background-image: url(../../../../Assets/pngs/magnifying-glass.png);
    background-position:10px;
    background-size: 20px;
    color: #000;;
    background-repeat: no-repeat;
    padding-left: 3rem;
}

.payout-table{
    height: 100%;
    width: 65vw;
    margin-left: 50px;
}

@media (max-width: 1000px){
    .payout-navbar{
        margin-left: 50px;
        width: 80vw;
    }

    .payout-table{
        margin-left: 50px;
        width: 80vw;
    }
}