.membership-container{
    width: 100%;
    height :450px;
    display: flex;
    justify-content:center;
    align-items:center;
    background: transparent;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.membership-img {
    position: relative;
}

.membership-img img{
    width: 70%;
    object-fit: contain;
    margin-left: 15%;
}

.membership-content {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 15%;
    left: 10%;
    right: 10%;
}

.membership-content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership-header {
    color: white;
    font-size: var(--header-4);
    width: 45%;
    line-height: 54px;
    text-align: center;
}

.membership-input {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction:row;
    /* align-items: center; */
    justify-content: center;
}

.membership-input input{
    border: 1px solid white;
    padding: 10px;
}

.membership-input input[type="email"]{
    width: 60%;
    height: 3vh;
    border-radius: 20px 0 0 20px;
    cursor:text;
}

.membership-input input[type="submit"] {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0 20px 20px 0;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color:white;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: var(--primary);
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .membership-container{
        height:200px;
    }
    .membership-img img{
        object-fit: contain;
        margin-left: 2%;
        width: 95%;
    }

    .membership-content {
        position: absolute;
        width: 80%;
        height: 80%;
        top: 15%;
        left: 10%;
        right: 10%;
        font-size: var(--mobile-font);
    }

    .membership-input input[type="submit"] {
        height: 14px;
        padding-right: 0;
        padding-left: 0;
        width: 20%;
        padding: 14px;
        font-size: var(--mobile-font);
        margin-top: 1rem;
    }

    .membership-input input[type="email"]{
        width: 60%;
        height: 8px;
        padding: 10px;
        font-size: var(--mobile-font);
        margin-top: 1rem;
    }

    .membership-header {
        font-size: var(--button-text);
        width: 100%;
    }

    .membership-input {
        margin-top: -.75rem;
    }

}