.FirstSection {
  height: 100vh;
  background: url("../../Assets/images/foods.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  gap: 10px;
  padding: 20px;
  margin-bottom: 5%;
}

.heroP {
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  width: 70%;
  text-align: center;
  color: #fff;
}

.Pcolours {
  color: #ff8323;
}

.heroP2 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
  width: 90%;
}

.firstbtn {
  border-radius: 20px;
  border: 2px solid #fff;
  background: var(--primary, #ff8323);
  padding: 15px 25px;
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .FirstSection {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  .heroP {
    font-size: calc(3vw + 12px);
  }

  .heroP2 {
    font-size: calc(1.5vw + 12px);
  }
}