.infoHero {
    position: absolute;
    width: 100%;
    min-height: 460px;
    overflow-x: hidden;
    background: transparent;
}

.infoHero-wrapper {
    min-width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: row;
    position:absolute;
    top: 25%;
}

.infoHero-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center ;
}

.infoHero-icon img {
    width: 120px;
    height: 120px;
}

.infoHero-box-text {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
}

.infoHero-box-header{
    font-size: var(--header-4);
    font-weight: 600;
}

.infoHero-box-body{
    font-size: var(--small);
    font-weight: 500;
    line-height: 50px;
}

/* .infoHero-box-body {
    text-align: center;
    width: 80%;
} */

@media only screen and (max-width: 768px) {
    .infoHero {
        height: 100%;
        margin: 0;
        font-size: var(--mobile-font);
    }

    .infoHero-icon img {
        width: 80px;
        height: 80px;
    }
    
    .infoHero-wrapper {
        display: flex;
        flex-direction: column;
        top: 2%;
        margin-left: 4px;
        margin-right: 4px;
        min-width: 60%;
    }

    .infoHero-box {
        margin-bottom: 1rem;
        font-size: var(--mobile-font);
    }

    .infoHero-box-header{
        font-size: var(--subtitle);
    }

    .infoHero-box-body{
        font-weight: normal;
    }
}