.profile-container {
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile-head {
  margin: 1.5rem auto;
  width: 90%;
  position: relative;
}

.profile-header {
  width: 100%;
  height: 20vh;
  border: 1px solid black;
  border-radius: 10px 10px 10px 0;
}

.profile-header h1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 2rem;
}

.profile-img {
  width: 140px;
}

.profile-img-header img {
  cursor: pointer;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  transition: filter 0.3s ease-in-out;
}

.profile-img-header img:hover {
  filter: brightness(50%) hue-rotate(15deg);
}

.profile-btn {
  margin-left: 5rem;
}

.profile-btn #cancel,
#save {
  width: 91px;
  height: 32px;
  border-radius: 10px;
  cursor: pointer;
}

.profile-btn #cancel {
  border: 2px solid black;
  background-color: white;
}

.profile-btn #cancel:hover {
  border: 2px solid black;
  background-color: var(--primary);
  color: white;
}

.profile-btn #save {
  margin-left: 0.5rem;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: white;
}

.profile-btn #save:hover {
  background-color: white;
  color: var(--primary);
}

.form-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #a5a5a5;
  padding-top: 20px;
}

.label {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  width: 260px;
}

.photo-label {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  width: 260px;
}
.photo-p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  width: 200px;
}

#username,
#website,
#photo,
#fullName {
  border: 1px solid #a5a5a5;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.vertical-line {
  border: 1px solid #a5a5a5;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 49px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
}
#kitchen-description {
  height: 150px;
  width: 50%;
  border-radius: 20px;
  resize: none;
  padding: 10px;
}

#kitchen-description::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: black;
}

.businessHead {
  margin-top: 50px;
  padding-bottom: 10px;
}

.kitchen-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.photo-labels {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  width: 260px;
}

.labels {
  display: flex;
  height: 120px;
  flex-direction: column;
  position: relative;
}

.img-display img {
  width: 128px;
  height: 128px;
  position: absolute;
  bottom: 0;
  left: 0.5rem;
}

.img-display:not(:empty) + .Image1 {
  display: none;
}

.menu-inputImg {
  width: 64px;
  height: 86px;
  object-fit: contain;
  cursor: pointer;
  margin-left: 2rem;
}
