.dashboard {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.dashboard main {
  inline-size: 100%;
  block-size: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}

.body {
  display: flex;
  inline-size: 75%;
  margin-left: 15vw;
}

@media (max-width: 990px) {
  .body {
    display: flex;
    width: 100%;
    margin-left: 0;
  }
}
