.dashboard{
    width: 100vw;
    height: 100vh;
}

.dashboard main{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0;
    padding: 0;
}

.dashboard .sidebar{
    z-index: 99;
    position:sticky;
}

.dashboard .body{
    flex:8;
}