.container {
    display: flex;
}
main {
    width: 100%;
    padding: 20px;
}
.sidebar {
    background: #FF8323;
    color: white;
    height: 100vh;
}
.top-section {
    display: flex;
    align-items: center;
    padding: 55px 40px;
}
.link {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px 60px;
    flex-direction: row-reverse;
    transition: all 0.5s;
    text-decoration: none;
    /* gap: 20px; */
}
.link:hover{
    background: white;
    color: #FF8323;
    transition: all 0.5s;
}
.icon {
    font-size: 22px;
}

.link-text {
    font-size: 20px;
}