.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-shadow: 4px 0 4px -2px rgba(0, 0, 0, 0.25);
  width: 230px;
  position: fixed;
  top: 0;
  transition: 0.1s ease-in;

}

.sidebar main {
  width: 100%;
  padding: 70px;
}

.sidebar {
  background: #ff8323;
  color: white;
  min-height: 100%;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.link {
  display: flex;
  align-items: center;
  color: white;
  padding: 15px 50px;
  transition: all 0.5s;
  text-decoration: none;
}

.Logo {
  width: 250px;
  padding: 30px;
}

.link:hover {
  background: white;
  color: #ff8323;
  transition: all 0.5s;
}

.icon {
  font-size: 22px;
  margin-right: 20px;
}

.link-text {
  font-size: 16px;
  margin-right: 0.5rem;
}

.active {
  background-color: var(--primary-variant);
}

.profile-space:hover {
  color: #ff8323;
  transition: all 0.5s;
}

.profile-link:hover {
  color: #ff8323;
}

.sidebar-button {
  color: red;
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid transparent;
}

.profile-space {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
}

.profile-space span {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  justify-content: center;
  margin-left: 0.5rem;
}

.profile-link {
  width: 200px;
  display: flex;
  justify-content: center;
}

.profile-space a {
  text-decoration: none;
  color: white;
}


/* Add your existing styles for the sidebar here */

/* Media query for screens with a width of 765px or less */
@media (max-width: 1000px) {
  .sidebar {
    width: 0;
    transition: width 0.2s ease-out;
    overflow-y: hidden;
    z-index: 1000;
  }

  .sidebar.open {
    width: 205px;
    /* Adjust the width as needed */
    overflow-y: auto;
    z-index: 1;
    overflow-x: hidden;
  }


  .menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    color: black;
  }

  .menu-icon.open {
    color: #ff8323;
  }

}