.container {
  display: flex;
  position: sticky;
  height: 100vh;
  box-shadow: 4px 0 4px -2px rgba(0, 0, 0, 0.25);
}
.container main {
  width: 100%;
  padding: 20px;
}
.container .sidebar {
  background: #ff8323;
  color: white;
  min-height: 100%;
}
.top-section {
  display: flex;
  align-items: center;
  padding: 55px 40px;
}
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 60px;
  flex-direction: row-reverse;
  transition: all 0.5s;
  text-decoration: none;
  /* gap: 20px; */
}


.link:hover {
  background: white;
  color: #ff8323;
  transition: all 0.5s;
}

.icon {
  font-size: 22px;
}

.link-text {
  font-size: 16px;
  margin-right: 0.5rem;
}

.active {
  background-color: var(--primary-variant);
}

.profile-space:hover {
  background: white;
  color: #ff8323;
  transition: all 0.5s;
}

.profile-link:hover{
  color: #ff8323;
}

.sidebar-button{
  color: red;
  background-color: white;
  border-radius: 20px;
  padding: 3px 8px;
  cursor: pointer;
  border: 2px solid transparent;
}

.profile-space{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
  padding: 5px 40px;
}

.profile-space span{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-left: 0.5rem;
}

.profile-space a{
  text-decoration: none;
  color: white;
}
