.order-container{
    width: 100%;
    max-inline-size: 70vw;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.713) ;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.order-container h5{
    border-bottom: .5px solid rgba(0, 0, 0, 0.2);
    /* margin-left: 2rem; */
}

.order-container table{
    width: 100%;
    display: table;
}

.order-container img{
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-right: 0.25rem;
}

.order-container table th, td{
    width: 50px;
    height: 2vh;
    text-align: left;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
}

.food{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}