.dashCharts{
    width: 70%;
    height: 100%;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.dashCharts h5{
    color: rgba(0, 0, 0, 0.713) ;
    border-bottom: .5px solid rgba(0, 0, 0, 0.35);
}