 
.hero-section {
    width: 100%;
    height: 80%;
    overflow: hidden;
    color: white;
    position: relative;
}

.hero-background {
    width: 100%;
    height: 760px;
    object-fit:cover;
    position: static;
    top:0;
}

.hero-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top:20%;
    left:8%;
}

.hero-header{
    font-size: var(--header-1);
    font-weight: bold;
    line-height: 70px;
}

.hero-subheader{
    display:inline-block;
    line-height: 29px;
    font-size: 20px;
    margin-top: 1.5rem;
    font-weight: 700;
    width: 55%;
}

.hero-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 2rem;
    width: 50%;
}

.hero-input-wrapper {
    display: flex;
    flex-direction:row;
}

.hero-input input{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid var(--primary);
    font-size: 16px;
    border-radius: 20px;
    color: white;
    background-color: var(--primary);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.hero-input input::placeholder {
    color: white;
}

@media only screen and (min-width: 1500px) {
    
    .hero-subheader{
        font-size: 64px;
        font-weight: 600;
    }
    .hero-subheader{
        font-size: 24px;
    }

}


@media only screen and (max-width: 768px) {
    .hero-section{
        width: 100%;
        height: 100vh;
        object-fit:contain;
        overflow: hidden;
    }

    .hero-background {
        width: 100%;
        height: 100%;
        /* position:relative; */
    }

    .hero-container{
        margin:0;
        padding: 0;
        top:25%;
    }

    .hero-header {
        width: 95%;
        font-size: var(--header-3);
        line-height: 10px;
    }

    .hero-subheader {
        font-size: var(--body);
        display: inline-block;
        line-height: 10px;
        width: 80%;
    }

    .hero-input{
        margin-top: 2rem;
        width: 80%;
    }

    .hero-input input{
        border: 1px solid var(--primary);
        font-size: var(--small);
        padding: 3px 5px 3px 5px;
        width: 100%;
    }
}