.order-main {
  padding: 4rem 2rem 1rem 5rem;
}

.order-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.order-title main{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.order-title h1 {
  font-size: 24px;
  font-weight: bold;
}

.order-title .circle {
  display: inline-block;
  height: 18px;
  width: 18px;
  background: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 50%;
  margin: 0 6px;
  color: white;
  font-size: 12px;
}

.circle span{
    margin: 0 2px;
}

.order-bar{
    margin-top: 2rem;
}

.order-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.order-bar ul li{
    margin-right: 2rem;
}

.order-bar ul li a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
}

.order-bar ul li:first-child{
    color: var(--primary);
    text-decoration: underline;
}

.order-table{
  margin-top: 3rem;
}