:root {
  --primary: #FF8323;
  --primary-variant:#DB7002;
  --secondary:#FF5223;
  --secondary-variant:#B33919;
  --auxilliary-variant:#B33919;
  /* font sizes */
  --header-1:64px;
  --header-2:40px;
  --header-3:32px;
  --header-4:20px;
  --subtitle:14px;
  --body:16px;
  --small:14px;
  --button-text:10px;
  --mobile-font: 6px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width:fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  color: var(--secondary);
  background-color: white;
}